body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

.app {
  width: 360px;
  margin: 90px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

small {
  color: red;
  font-size: 12px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
}
